.containerMain {
    width: 100%;
    height: 100%;

    background-color: transparent;

    display: flex;
    justify-content: space-between;
}

.containerLogin {
    width: 30%;
    height: 100vh;
    z-index: 2;
    box-shadow: 0 0 20px #333333;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.containerLogin .containerLogo {
    width: 100%;

    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerLogin .inputs {
    width: 100%;
    height: 140px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerLogin .buttons {
    width: 100%;
    height: 170px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerLogin .buttons input, .containerLogin .buttons a {
    width: 80%;
    height: 40px;

    background-color: #FF1818;
    box-shadow: 0px 6px 10px #919191;
    border-radius: 8px;
    border: none;

    transition: 0.5s ease;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.containerLogin .buttons a {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #FF1818;
    color: #FF1818;
}

.containerLogin .buttons input:hover, .containerLogin .buttons a:hover {
    transform: translateY(-4px);
}

.containerLogin .buttons .spacer {
    width: 90%;
    color: #4D4B4B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLogin .buttons .spacer hr {
    width: 45%;
    height: 1px;

    background-color: #D9D9D9;
    border: none;
}

.containerImage {
    width: 70%;
    height: 100vh;

    background-color: #F1F3F6;

    display: flex;
    justify-content: center;
    align-items: center;
}